#filmDetails {
    width: 900px;
    height: 55vh;
    max-width: 1200px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 70px;

    #imagePoster {
        width: 30%;

        img {
            width: 350px;
            object-fit: contain;
        }
    }

    #filmInfo {
        width: 55%;

        h1 {
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 50px;
        }

        ul {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 45px;
        }

        p {
            font-size: 22px;
            text-align: start;
            line-height: 28px;
        }
    }
}