#carousel-section {
    max-width: 1400px;
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;

    #img_buttons {
        display: flex;
        flex-direction: row;

        button {
            @include button; 
        }

        img {
            width: 1150px;
            height: auto;
            display: none;
        }

        img[data-active] {
            display: block;
        }
    }

    #dots {
        margin-top: 10px;

        ul { 
            display: flex;
            flex-direction: row;
            justify-content: center;
            
            #el_1 {
                @include ellipse;
                background-color: #060623;
                border: 2px solid #060623;
                  
            }
                
            #el_2, #el_3 {
                @include ellipse;
                background-color: #ffffff;
                border: 2px solid #060623;
                margin-left: 3px;
            }
        } 
    }

    
}

#next_dates {
    margin-top: 50px;

    h2 {
        background-color: #F7B32B;
        color: #060623;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    hr {
        width: 1000px;
        border: 3px solid #060623;
        margin-top: 0;
        padding-top: 0;
    }

    #next_dates_slides {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            @include button;

            img {
                width: 30px;
                height: auto;
            }
        }


        div {
            text-align: center;

            img {
                width: 275px;
                height: 340px;
                object-fit: cover;
            }

            h3 {
                font-size: 24px;
                color: #060623;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        
    }
}


#popular {
    margin-top: 70px;
    text-align: center;

    h2 {
        background-color: #F7B32B;
        color: #060623;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 0;
        padding-bottom: 0;
    }

    hr {
        width: 1000px;
        border: 3px solid #060623;
        margin-top: 0;
        padding-top: 0;
    }

    #populaires_slides {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        button {
            @include button;

            img {
                width: 30px;
                height: auto;
            }
        }


        div {
            text-align: center;

            img {
                width: 275px;
                height: 340px;
                object-fit: cover;
            }

            h3 {
                font-size: 24px;
                color: #060623;
                font-weight: 600;
                text-transform: uppercase;
            }
        }
        
    }

    button {
        @include button;
        margin-top: 60px;
        margin-bottom: 80px;
        border-radius: 30px;
        background-color: #F7B32B;
        border: none;
        color: #060623;
        font-size: 24px;
        font-weight: 600;
        text-transform: uppercase;
        padding: 8px 15px;

        svg {
            path {
                fill: #060623;
            }
            
        }
    }

    button:hover, button:focus {
        background-color: #060623;
        color: #F7B32B;
        transition: .3s ease;
        path {
            fill: #F7B32B;
        }
    } 
}