:root {
  --primary-color: #000000;
  --active-color: #000000;
  --background-color: #ffffff;
  --default-color: #ffffff;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, main {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

header {
  height: 100px;
  background-color: #F7B32B;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
header #logo {
  width: 35%;
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -125px;
}
header img {
  width: 150px;
  height: auto;
  object-fit: cover;
  margin-left: 50px;
}
header #header-elements {
  width: 40%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  margin-right: -50px;
  margin-bottom: 10px;
}
header #header-elements button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 60px;
}
header #header-elements img {
  height: 22px;
  object-fit: contain;
  margin-left: 1px;
  margin-right: 1px;
}
header #header-elements .searchbar {
  width: 250px;
  height: 24px;
  background-color: white;
  border-radius: 30px;
  position: relative;
  display: inline-block;
  margin-left: 50px;
  margin-right: -35px;
  margin-bottom: 5px;
}
header #header-elements .searchbar #search {
  width: 250px;
  height: 24px;
  background-color: transparent;
  border: none;
  border-radius: 30px;
  padding: 0 10px;
}
header #header-elements .searchbar img {
  height: 20px;
  object-fit: contain;
  position: absolute;
  top: 50%;
  right: -50px;
  transform: translateY(-50%);
  cursor: pointer;
}
header nav {
  width: 100vw;
  height: 40px;
  background-color: #000623;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
header nav a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  color: #000623;
  background-color: white;
  height: 20px;
  padding: 0 15px;
  border-radius: 30px;
}
header nav a img {
  width: 18px;
  object-fit: contain;
  margin-left: 1px;
}

footer {
  height: 175px;
  background-color: #F7B32B;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}
footer .blueBar {
  height: 30px;
  width: 100vw;
  background-color: #000623;
}
footer #footerContent .footer_logo img {
  width: 176px;
  height: 79px;
}
footer #footerContent #one, footer #footerContent #two, footer #footerContent #three {
  font-size: 18px;
  line-height: 35px;
  text-align: center;
  color: #000623;
}
footer #footerContent #one a, footer #footerContent #two a, footer #footerContent #three a {
  text-decoration: none;
  color: #000623;
}
footer #footerContent #social {
  text-align: center;
}
footer #footerContent #social p {
  font-size: 18px;
  line-height: 50px;
}
footer #footerContent #social #icons img {
  height: 25px;
  width: 25px;
  margin-left: 8px;
}

#carousel-section {
  max-width: 1300px;
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
#carousel-section #img_buttons {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
}
#carousel-section #img_buttons img {
  width: 1150px;
  height: auto;
  display: none;
}
#carousel-section #img_buttons img[data-active] {
  display: block;
}
#carousel-section #dots {
  margin-top: 10px;
}
#carousel-section #dots ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* .active-dot {
      background-color: #060623;
  } */
}
#carousel-section #dots ul #el_1 {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  border: 2px solid #060623;
}
#carousel-section #dots ul #el_2, #carousel-section #dots ul #el_3 {
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  border: 2px solid #060623;
  margin-left: 3px;
}

#next_dates {
  margin-top: 50px;
}
#next_dates h2 {
  background-color: #F7B32B;
  color: #060623;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}
#next_dates hr {
  width: 1000px;
  border: 3px solid #060623;
  margin-top: 0;
  padding-top: 0;
}
#next_dates #next_dates_slides {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#next_dates #next_dates_slides div {
  text-align: center;
}
#next_dates #next_dates_slides div img {
  width: 275px;
  height: 340px;
  object-fit: cover;
}
#next_dates #next_dates_slides div h3 {
  font-size: 24px;
  color: #060623;
  font-weight: 600;
  text-transform: uppercase;
}

#popular {
  margin-top: 70px;
  text-align: center;
}
#popular h2 {
  background-color: #F7B32B;
  color: #060623;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 0;
  padding-bottom: 0;
}
#popular hr {
  width: 1000px;
  border: 3px solid #060623;
  margin-top: 0;
  padding-top: 0;
}
#popular #populaires_slides {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
#popular #populaires_slides div {
  text-align: center;
}
#popular #populaires_slides div img {
  width: 275px;
  height: 340px;
  object-fit: cover;
}
#popular #populaires_slides div h3 {
  font-size: 24px;
  color: #060623;
  font-weight: 600;
  text-transform: uppercase;
}
#popular button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin-top: 60px;
  margin-bottom: 80px;
  border-radius: 30px;
  background-color: #F7B32B;
  border: none;
  color: #060623;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 8px 15px;
}
#popular button svg path {
  fill: #060623;
}
#popular button:hover, #popular button:focus {
  background-color: #060623;
  color: #F7B32B;
  transition: 0.3s ease;
}
#popular button:hover path, #popular button:focus path {
  fill: #F7B32B;
}

/*# sourceMappingURL=style.css.map */
