{% extends '/layouts/public.twig' %}
{% block title %} Accueil {% endblock %}

{% block content %}
    <div id="home">
        <h1 class="title-main">Les meilleurs films</h1>

        <div id="movies">
            {% for movie in movies %}
            {{ dump(movie.slug) }}
                <article>
                    <a href="{{ getUrl('details', {'slug': movie.slug}) }}">
                        <img src="uploads/bkpra.jpg" alt="{{ movie.title }}">
                        <h2>{{ movie.title }}</h2>
                    </a>
                </article>
            {% endfor %}
        </div>
    </div>
{% endblock %}