<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../public/css/scss/style.css">
    <script src="/public/js/carousel.js" defer></script>

    <link rel="shortcut icon" href="../../../../public/images/mixxcinema-high-resolution-logo-darkmode.png" type="image/x-icon" id="favicon">
    <title>{% block title %}{% endblock %} | Movies</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div id="logo">
                <a href=""><img src="../../../../public/images/mixxcinema-high-resolution-logo-transparent (1) (1).svg" alt="Mixxcinema logo"></a>
            </div>
            <div id="header-elements"> <!--Div section for icons and search bar-->
                <button><img src="../../../../public/images/funnel.svg" alt="funnel"></button> <!--Filters button-->
                <form action="" class="searchbar"> <!--Search bar-->
                    <input type="text" id="search">
                    <img src="../../../../public/images/search_magnifying_glass.svg" alt="Magnifying glass icon">
                </form>
                <button><img src="../../../../public/images/Dark-Mode.svg" alt="dark-mode"></button>  
                <button><img src="../../../../public/images/user_icon.svg" alt="user"></button>
                <button><img src="../../../../public/images/settings_icon.svg" alt="settings"></button>
            </div>
        </div>
        <nav> <!--Nav section for menu-->
            <div class="wrapper">
                <a href="">Films <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
                <a href="">Séries <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
                <a href="">Animation 2D <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
                <a href="">Animation 3D <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
                <a href="">Anime <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
                <a href="">Court-Métrages <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
            </div>
        </nav>
    </header>
    <main class="wrapper" style="margin-top:50px"> <!--Body of the page-->
        {% block content %}{% endblock %}
    </main>
    <footer>
        <div class="blueBar"></div> <!--Bar ontop of footer-->
        <div id="footerContent" class="wrapper">
            <div class="footer_logo">
                <a href=""><img src="/public/images/mixxcinema-high-resolution-logo-transparent (1) (1).svg" alt="Mixxcinema Logo"></a>
            </div>
            <div id="one">
                <ul>
                    <li><p>Contact:</p></li>
                    <li><address>1 Rue du Jeu de Paume</address></li>
                    <li><p>+33 075 216 4895</p></li>
                </ul>
            </div>
            <div id="two">
                <ul>
                    <li><a href="">Terms and Conditions</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">Cookies Policy</a></li>
                </ul>
            </div>
            <div id="three">
                <ul>
                    <li><a href="">About Us</a></li>
                    <li><a href="">Application Mobile</a></li>
                    <li><a href="">Mixxcinema Recrutes</a></li>
                </ul>
            </div>
            <div id="social">
                <p>Suivez-nous:</p>
                <div id="icons">
                    <a href=""><img src="/public/images/facebook-svgrepo-com (2).svg" alt="Facebook Icon"></a>
                    <a href=""><img src="/public/images/Path 102.svg" alt="Twitter Icon"></a>
                    <a href=""><img src="/public/images/Path 66.svg" alt="Instagram Icon"></a>
                    <a href=""><img src="/public/images/Group 29.svg" alt="Youtube Icon"></a>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>