<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../../public/css/style.css">

    <link rel="shortcut icon" href="../../../../public/images/mixxcinema-high-resolution-logo-darkmode.png" type="image/x-icon" id="favicon">
    <title>{% block title %}{% endblock %} | Movies</title>
</head>
<body>
    <header>
        <div class="wrapper">
            <div id="logo">
                <a href=""><img src="../../../../public/images/mixxcinema-high-resolution-logo-transparent (1) (1).svg" alt="Mixxcinema logo"></a>
            </div>
            <div id="header-elements">
                <button><img src="../../../../public/images/funnel.svg" alt="funnel"></button>
                <form action="" class="searchbar">
                    <input type="text" id="search">
                    <img src="../../../../public/images/search_magnifying_glass.svg" alt="Magnifying glass icon">
                </form>
                <button><img src="../../../../public/images/Dark-Mode.svg" alt="dark-mode"></button>  
                <button><img src="../../../../public/images/user_icon.svg" alt="user"></button>
                <button><img src="../../../../public/images/settings_icon.svg" alt="settings"></button>
            </div>
        </div>
        <nav>
            <div class="wrapper">
                <a href="">Films <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
                <a href="">Séries <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
                <a href="">Animation 2D <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
                <a href="">Animation 3D <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
                <a href="">Anime <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
                <a href="">Court-Métrages <img src="../../../../public/images/arrow-down.svg" alt="Arrow point down"></a>
            </div>
        </nav>
    </header>
    <main class="wrapper" style="margin-top:50px">
        {% block content %}{% endblock %}
    </main>
</body>
</html>